.card-container {
  border: 1px solid black;
  height: 150px;
  background-color: white;
  border-radius: 9px;
  transition: 0.6s ease, color 0.6s ease;
  width: 100%;
  margin: 10px 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.card-container > h2,
h3 {
  color: black;
}
.see-the-answer {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: background-color 0.6s ease, color 0.6s ease;
}
.see-the-answer:hover {
  background-color: black;
  color: white;
}
.show {
  background-color: #f5cb5c;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .card-container {
    height: 120px; /* Adjust the height */
    margin: 5px 0px; /* Adjust the margin */
    padding: 10px; /* Adjust the padding */
  }
  .card-container > h2,
  h3 {
    font-size: 14px; /* Adjust the font size */
  }
  .see-the-answer {
    padding: 5px 10px;
    font-size: 12px;
  }
}
