* {
  margin: 0;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: #e8eddf;
}
.flashCards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 25%;
}
.info {
  text-align: center;
  margin-top: 20px;
}

.categories-container {
  display: flex;
  text-align: center;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 50%;
  margin: 20px 25%;
}

.category-span {
  cursor: pointer;
  background-color: #242423;
  color: #e8eddf;
  padding: 7px;
  border-radius: 7px;
}
