* {
  margin: 0;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: #e8eddf;
}
.flashCards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 25%;
}
